html {
  scroll-behavior: smooth;
}

/* /////====== >>>>> header CSS */
.nav__right {
  margin-left: 70% !important;
}
/* ////// ===== >>>>>> Banner CSS */
.banner__section {
  background-image: url(img/technology-business-communication-computer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 250px 0 !important;
  position: relative;
}

.banner__content {
}
.banner__heading {
}
.banner__sub {
}
.banner__btn {
}

/* ////// ==== >>> about CSS */
.about__section {
  background-color: #ddd;
}

.card__icon {
  background-color: orangered;
  width: 50px;
  margin: 0 auto;
  padding: 13px 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
/* //// ===== >>>>> blog css */
.blog__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.notice__list {
  list-style: none;
}
.notice__item {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(226, 226, 226);
}
.notice__link {
  text-decoration: none;
  color: #000;
  font-size: 19px;
}
